In [26]:
import os
import pandas as pd
import json
import  matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from shapely.geometry import shape

In [27]:
os.getcwd()

'/Users/mazeppa/Desktop/Springboard/Capstone1'

In [28]:
#Open DataFrame
df=pd.read_csv("comptages.csv",sep=";")
df.head()

,Identifiant arc,Libelle,Date et heure de comptage,Débit horaire,Taux d'occupation,Etat trafic,Identifiant noeud amont,Libelle noeud amont,Identifiant noeud aval,Libelle noeud aval,Etat arc,Date debut dispo data,Date fin dispo data,geo_point_2d,geo_shape
0,6952,AE_Muette,2019-09-12T10:00:00+02:00,NaN,NaN,Inconnu,3607,AE_Muette-1,2440,AE_Muette,Ouvert,2005-01-01,2019-06-01,"48.8616337826,2.26395912814","{""type"": ""LineString"", ""coordinates"": [[2.2639..."
1,6952,AE_Muette,2019-09-12T18:00:00+02:00,NaN,NaN,Inconnu,3607,AE_Muette-1,2440,AE_Muette,Ouvert,2005-01-01,2019-06-01,"48.8616337826,2.26395912814","{""type"": ""LineString"", ""coordinates"": [[2.2639..."
2,6952,AE_Muette,2019-09-13T02:00:00+02:00,NaN,NaN,Inconnu,3607,AE_Muette-1,2440,AE_Muette,Ouvert,2005-01-01,2019-06-01,"48.8616337826,2.26395912814","{""type"": ""LineString"", ""coordinates"": [[2.2639..."
3,6952,AE_Muette,2019-09-14T05:00:00+02:00,NaN,NaN,Inconnu,3607,AE_Muette-1,2440,AE_Muette,Ouvert,2005-01-01,2019-06-01,"48.8616337826,2.26395912814","{""type"": ""LineString"", ""coordinates"": [[2.2639..."
4,53,Cite,2019-09-08T04:00:00+02:00,533.0,2.40556,Fluide,48,Corse-Pt_Notre_Dame,49,Cite-Entree_P.P.,Invalide,2005-01-01,2019-06-01,"48.8548944588,2.34784211567","{""type"": ""LineString"", ""coordinates"": [[2.3482..."

In [29]:
#Check nan values
df.isna().sum()

Identifiant arc                    0
Libelle                            0
Date et heure de comptage          0
Débit horaire                3174068
Taux d'occupation            2990317
Etat trafic                        0
Identifiant noeud amont            0
Libelle noeud amont                0
Identifiant noeud aval             0
Libelle noeud aval                 0
Etat arc                           0
Date debut dispo data         313483
Date fin dispo data           313483
geo_point_2d                  313483
geo_shape                     313483
dtype: int64

In [30]:
#not too many nans. We can drop them
df=df.dropna()

In [31]:
#Split coordinates into long and lat
df[["latitude","longitude"]]=df.geo_point_2d.str.split(",",expand=True)

#Create ID for each location
locations=df[["longitude","latitude"]].drop_duplicates().sort_values(by="longitude").reset_index().drop(["index"],axis=1).reset_index()
df=pd.merge(df,locations,how="left" ,on=["longitude","latitude"])

#Add categorical
df.Libelle = pd.Categorical(df.Libelle)
df['road_ID'] = df.Libelle.cat.codes

In [32]:
#load geoson to shapely 
df["geo_shape"]=df["geo_shape"].apply(lambda x : eval(x))
df["geo_shape"]=df["geo_shape"].apply(lambda x : shape(x))

In [33]:
#Create column for road start en road end

def extract_longitude_start(x):
    return(x.coords[0][0])

def extract_latitude_start(x):
    return(x.coords[0][1])

def extract_longitude_end(x):
    return(x.coords[1][0])
                    
def extract_latitude_start(x):
    return(x.coords[1][1])


df["road_start_lon"]=df["geo_shape"].apply(extract_longitude_start)
df["road_start_lat"]=df["geo_shape"].apply(extract_latitude_start)
df["road_end_lon"]=df["geo_shape"].apply(extract_longitude_end)
df["road_end_lat"]=df["geo_shape"].apply(extract_latitude_end)

In [34]:
#Correct columns types
df=df.astype({'longitude': 'float64','latitude': 'float64'})
df["Date et heure de comptage"]=pd.to_datetime(df["Date et heure de comptage"].str.split("+").str[0])

In [38]:
#Rename Columns
to_rename={"Date et heure de comptage":"timestamp", "Identifiant arc": "id_arc","index" : "location_ID", "road_ID": "road_ID","Libelle":"road_name","longitude":"longitude","latitude":"latitude","geo_shape":"geo_shape","Etat arc": "road_status", "Etat trafic":"trafic_status","Débit horaire": "flow_rate","Taux d'occupation": "occupation_rate","road_start_lon":"road_start_lon","road_start_lat":"road_start_lat","road_end_lon":"road_end_lon","road_end_lat":"road_end_lat"}
df=df.rename(columns=to_rename)
#Drop unnecessary columns
df=df[list(to_rename.values())]

In [41]:
#Add columns for year, month, dayof year, weekday, and hour
df["date"]=df["timestamp"].apply(lambda x : x.date())
df["year"]=df["timestamp"].apply(lambda x : x.year)
df["month"]=df["timestamp"].apply(lambda x : x.month)
df["day"]=df["timestamp"].apply(lambda x : x.day)
df["dayofyear"]=df["timestamp"].apply(lambda x : x.dayofyear)
df["weekday"]=df["timestamp"].apply(lambda x : x.weekday())
df["hour"]=df["timestamp"].apply(lambda x : x.hour)

In [42]:
#Reorder columns
columns=["timestamp","date", "year","month","day","dayofyear","weekday","hour","location_ID","id_arc", "road_ID","road_name","longitude","latitude","road_start_lon","road_start_lat","road_end_lon","road_end_lat","road_status", "trafic_status","flow_rate","occupation_rate"]
df=df[columns]

In [43]:
#Sort values by date
df=df.sort_values(by="timestamp")

In [44]:
df.head()

,timestamp,date,year,month,day,dayofyear,weekday,hour,location_ID,id_arc,...,longitude,latitude,road_start_lon,road_start_lat,road_end_lon,road_end_lat,road_status,trafic_status,flow_rate,occupation_rate
766364,2019-05-14 01:00:00,2019-05-14,2019,5,14,134,1,1,1047,1626,...,2.349547,48.884667,2.349521,48.885466,2.349573,48.883869,Invalide,Fluide,418.0,3.31278
543239,2019-05-14 01:00:00,2019-05-14,2019,5,14,134,1,1,766,202,...,2.329915,48.860159,2.329494,48.860793,2.330335,48.859525,Invalide,Saturé,124.0,35.84890
1284364,2019-05-14 01:00:00,2019-05-14,2019,5,14,134,1,1,1642,6529,...,2.386763,48.873903,2.388006,48.873960,2.385520,48.873846,Invalide,Fluide,169.0,1.20611
1220817,2019-05-14 01:00:00,2019-05-14,2019,5,14,134,1,1,672,267,...,2.325574,48.871416,2.325136,48.872025,2.326012,48.870807,Invalide,Fluide,142.0,1.31445
586327,2019-05-14 01:00:00,2019-05-14,2019,5,14,134,1,1,1853,6717,...,2.407747,48.874734,2.407530,48.874178,2.407964,48.875291,Invalide,Fluide,30.0,0.52389

In [45]:
#Export Data
df.to_csv('paris_traffic_clean.csv',index=False)